/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


html {
    scroll-behavior: smooth;
    cursor: url('./img/Cursor1.png'), auto;	
}

* {
  margin:0;
  padding:0;
}

.module {
  cursor: url('./img/Cursor1.png'), auto;		
}

a { 
  color: White; 
  text-decoration: none; 
  cursor: auto; 
} 

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.snow {
  background-color: black;
  background-size: cover;
}

/* NAVIGATION BAR STYLES */
nav {
  background-color: #000;
  color: white;
  padding: 20px 50px;
  height: 10vh;
}

.navItem {
  padding-left: 25px;
  padding-right: 25px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navTitle {
  padding-left: 2vw;
  padding-right: 2vw;
  /* padding-bottom: 10px;
  padding-top: 10px */
  font-size: 20px;
  cursor: pointer;
}

/* NAVIGATION BAR STYLES */
footer{
  background-color: #000;
  color: white;
  padding: 20px 50px;
  height: 10vh;
}

.footerItem {
  padding-left: 25px;
  padding-right: 25px;
}

.footerTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerTitle {
  padding-left: 2vw;
  padding-right: 2vw;
  /* padding-bottom: 10px;
  padding-top: 10px */
  font-size: 20px;
  cursor: pointer;
}

.purchase-button {
  margin-top: 30px;
padding: 10 10 10 10;
font-size: larger;
}

.checkout-button {
  margin-top: 30px;
padding: 10 10 10 10;
font-size: larger;
}

/* WRAPPER SECTION STYLES */
.wrapper {
  padding-top: 6vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

body {
  background-color: #000;
  height: 100vh;
}

.wrapperItem {
  width: 50vw;
  display: inline;
}

h3.wrapperItem {
  margin-right: 1vw;
}

.button {
  border: none;
  color: white;
  padding: 2vw 4vw;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  margin: 2vw 6vw;
  transition-duration: 0.4s;
}

.button1 {
  background-color: rgb(10, 10, 10); 
  color: whitesmoke; 
  border: 2px solid #f8faf9;
}

.button1:hover {
  background-color: #fafcfb;
  color: rgb(7, 7, 7);
}

.button2 {
  background-color: rgb(5, 5, 5); 
  color: whitesmoke; 
  border: 2px solid #f5f8f9;
}

.button2:hover {
  background-color: #f2f5f7;
  color: rgb(7, 7, 7);
}

.shopTitle {
  color: white;
  font-size: 32px;
  font-weight: 200;
}

/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Globals  */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}
/* Variables  */
:root{
    --main-color: #fd4646;
    --sec-color: #4946fd;
    --text-color: #171427;
    --bg-color: #fff;
}
::selection{
    color: var(--text-color);
    background-color: var(--main-color);
}
.container{
    max-width: 1250px;
    margin: auto;
    width: 100%;
}
section{
    padding: 1rem 0 2rem;
}

.bx {
  color:white;
}


/* body{
    color: var(--text-color);
}
img{
    width: 100%;
} */

/* =======================================  */
/* HEADER  */
/* header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
} */

#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
}
/* CART  */
.cart{
    position: fixed;
    top: 0;
    right: 0;
    right: -100%; 
    width: 30vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: black;
    box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
    border: 1px solid white;
    transition: 1.5s;
    z-index: 100;
}

.cart.active{
    right: 0;
    transition: .5s;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    color: white;
}

.cart-product {
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  /* margin-top: 2rem; */
  color: white;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 80px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box{
    display: grid;
    row-gap: .5rem;
}

.cart-item{
  display:flex;
  color:white;
  flex-direction: column;
  margin-bottom: 10px;
}

.cart-product-title{
    font-size: 2rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.delete-item {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid white;
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
.total-price{
    margin-left: .5rem;
    color: white;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background-color: var(--text-color);
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

/* SHOP SECTION  */
.shop{
    margin-top: 1rem;
}
.section-title{
    font-style: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
    gap: 4rem;
}
.product-detail {
  padding-top: 50px;
  justify-content: left;
  color:white;
}
.product-box{
    position: relative;
    justify-content: center;
}
.product-box:hover{
  padding: 10px;
  border: 2px solid white;
  transition: .4s;
}
.product-img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: .5rem;
}
.product-title{
  text-align: left;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .5rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.checked {
  color: orange;
}

.product-price{
  text-align: center;
  color: white;
    font-weight: 500;
}
.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.add-cart:hover{
    background-color: white;
    color: black;
}


/* ================ RESPONSIVE & BREAKPOINTS ============= */
@media (max-width: 1080px){
    .nav{
        padding: 15px;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .shop{
        margin-top: 2rem;
    }
}

/* For Medium Devices */
@media (max-width: 400px){
    .nav{
        padding: 11px;
    }
    .logo{
        font-size: 1rem;
    }
    .cart{
        width: 80vw;
    }
}

/* For Small Devices */
@media (max-width: 360px){
    .shop{
        margin-top: 1rem;
    }
    .cart{
        width: 75vw;
    }
} 

/* * {
  box-sizing: border-box;
} */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-40 {
  -ms-flex: 40%; /* IE10 */
  flex: 40%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-60 {
  -ms-flex: 60%; /* IE10 */
  flex: 60%;
}

.col-40,
.col-50,
.col-60 {
  padding: 0 16px;
}

 .container1 {
  background-color: #050505;
  padding: 20px 50px 20px 50px;
  margin-left: 300px;
  margin-right: 300px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 35px;
}

input[type=text] {
  font-size: 30px;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  color:white;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

/* .btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #0813e7;
} */

/* a {
  color: #2196F3;
} */

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

.product-button {
  background-color: #f7f9f8; 
  border: none;
  color: rgb(5, 5, 5);
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 4px 2px;
  cursor: pointer;
}

