html {
    scroll-behavior: smooth;
    cursor: url('./img/Cursor1.png'), auto;	
}

* {
  margin:0;
  padding:0;
}

.module {
  cursor: url('./img/Cursor1.png'), auto;		
}

a { 
  color: White; 
  text-decoration: none; 
  cursor: auto; 
} 

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.snow {
  background-color: black;
  background-size: cover;
}

/* NAVIGATION BAR STYLES */
nav {
  background-color: #000;
  color: white;
  padding: 20px 50px;
  height: 10vh;
}

.navItem {
  padding-left: 25px;
  padding-right: 25px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navTitle {
  padding-left: 2vw;
  padding-right: 2vw;
  /* padding-bottom: 10px;
  padding-top: 10px */
  font-size: 20px;
  cursor: pointer;
}
/* WRAPPER SECTION STYLES */
.wrapper {
  padding-top: 1vh;
  display: flex;
  align-items: center;
  width: 100%;
}

body {
  background-color: #000;
  height: 100vh;
}

.wrapperItem {
  width: 50vw;
  display: inline;
}

.button {
  border: none;
  color: white;
  padding: 2vw 4vw;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  margin: 2vw 6vw;
  transition-duration: 0.4s;
}

.button1 {
  background-color: rgb(10, 10, 10); 
  color: whitesmoke; 
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: rgb(7, 7, 7);
}

.button2 {
  background-color: rgb(5, 5, 5); 
  color: whitesmoke; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: rgb(7, 7, 7);
}

.shopTitle {
  color: white;
  font-size: 32px;
  font-weight: 200;

}